testy.py
minimax (1).ipynb:Zone.Identifier
zadanie_2.ipynb:Zone.Identifier
plecak1.ipynb
zadanie_1b.ipynb
Zadanie_4.ipynb:Zone.Identifier
plecak1.ipynb
zad5.ipynb:Zone.Identifier
cw5.ipynb:Zone.Identifier
temp
temp.ipynb
zad5.ipynb
zad5.ipynb
Ding Sound Effect [TubeRipper.com].wav:Zone.Identifier
Ding_Sound.wav
Zadanie_7.ipynb:Zone.Identifier
Ding Sound Effect [TubeRipper.com].wav:Zone.Identifier
